        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                GPCRdb<span class="caret"></span>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>INFORMATION</a></li>
                <li><a href="http://files.gpcrdb.org/GPCRdb_Poster.pdf">GPCRdb Poster</a></li>
                <li><a href="{{ documentation_url }}">Documentation</a></li>
                <li class="nav-header disabled"><a>ABOUT GPCRdb</a></li>
                <li><a href="{{ documentation_url }}about.html">About</a></li>
                <li><a href="{{ documentation_url }}contact.html">Contact</a></li>
                <li><a href="{{ documentation_url }}citing.html">Citing GPCRdb</a></li>
                <li><a href="{{ documentation_url }}acknowledgements.html">Acknowledgements</a></li>
                <li><a href="{{ documentation_url }}legal_notice.html">Legal notice</a></li>
                <li class="nav-header disabled"><a>UPDATES</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="{{ documentation_url }}meetings.html">Meetings</a></li>
                <li><a href="/pages/releasenotes">Release notes</a></li>
                <li class="nav-header disabled"><a>FOR DEVELOPERS</a></li>
                <li><a href="{{ documentation_url }}linking.html">Linking to GPCRdb</a></li>
                <li><a href="{{ documentation_url }}web_services.html">Web services</a></li>
            </ul>
        </li>
        
        <!-- BROWSE -->
        <li><a href="/protein">Receptors</a></li>
       
        <!-- SEQUENCES -->
        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Sequences<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/alignment/targetselection">Structure-based alignments</a></li>
                <li class="nav-header disabled"><a>TOOLS</a></li>
                <li><a href="/phylogenetic_trees/targetselection">Phylogenetic trees</a></li>
                <li><a href="/similaritysearch/referenceselection">Similarity search - GPCRdb</a></li>
                <li><a href="/alignment/blastsearch">Similarity search - BLAST</a></li>
                <li><a href="/similaritymatrix/targetselection">Similarity matrix</a></li>
            </ul>
        </li>
        
        <!-- STRUCTURES -->
        <li>
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Structures<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/structure">Structure browser</a></li>
                <li><a href="/structure/statistics">Structure statistics</a></li>
                <li class="nav-header disabled"><a>TOOLS</a></li>
                <li><a href="/structure/superposition_workflow_index/true">Structure superposition</a></li>
                <li><a href="/structure/generic_numbering_index">PDB file residue numbering</a></li>
                <li><a href="/structure/template_selection">Template selection</a></li>
            </ul>
        </li>

        <!-- MUTANTS -->
        <li>
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Mutants<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/mutations">Mutant browser</a></li>
                <li>
                    <a href="{{ documentation_url }}mutants.html#mutant-data-submission">Mutant data submission</a>
                </li>
            </ul>
        </li>

        <!-- SITES -->
        <li>
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Sites<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/interaction">Ligand interactions</a></li>
                <li class="nav-header disabled"><a>TOOLS</a></li>
                <li><a href="/sitesearch/targetselection">Site search - manual</a></li>
                <li><a href="/sitesearch/targetselectionpdb">Site search - from PDB complex</a></li>
                <li><a href="/structure/fragment_superposition_index">Pharmacophore generation</a></li>
            </ul>
        </li>

        <!-- RESIDUE NUMBERES -->
        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Residue numbers<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-header disabled"><a>DATA</a></li>
                <li><a href="/residue/residuetable">Residue tables</a></li>
                <li class="nav-header disabled"><a>TOOLS</a></li>
                <li><a href="/structure/generic_numbering_index">PDB file residue numbering</a></li>
                <!-- <li><a href="http://www.gpcr.org/7tm/?wicket:bookmarkablePage=:nl.ru.cmbi.mcsis.web.pages.info.UtopiaDocumentGPCRDBPage">GPCR specific PDF reader</a></li> -->
            </ul>
        </li>

        <!-- LINKS -->
        <li>
            <a href="/"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Links<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!-- <li><a href="http://www.gpcr.org/7tm/?wicket:bookmarkablePage=:nl.ru.cmbi.mcsis.web.pages.info.UtopiaDocumentGPCRDBPage">GPCR specific PDF reader</a></li> -->
                <li><a href="{{ documentation_url }}linking.html">Linking to GPCRdb</a></li>
                <li><a href="{{ documentation_url }}external_servers.html">External GPCR modeling servers</a></li>
            </ul>
        </li>
