{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row text-success">
    <div class="text-center">
        <h2>{{ pf.name|safe }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>CLASSIFICATION</h4>
    </div>
    <div class="col-md-10">
    {{ families|safeseq|join:" <span class='glyphicon glyphicon-arrow-right' aria-hidden='true'></span> " }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>NO. OF PROTEINS</h4>
    </div>
    <div class="col-md-10">
    {{ no_of_proteins }} ({{ no_of_human_proteins }} human)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>ALIGNMENT</h4>
    </div>
    <div class="col-md-10">
    <a href="/alignment/render/{{ pf.slug }}/" class="btn btn-primary btn-xs">View</a>
    <a href="/alignment/fasta/{{ pf.slug }}/" class="btn btn-primary btn-xs">Download</a>
    </div>
</div>

{% include "protein/sequence_viewer.html" %}

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>DIAGRAMS</h4>
    </div>
    <div class="col-md-10">
    {{ HelixBox }}
    <br>
    <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox_{{ p.entry_name }}.png', {scale: 3});"> Download as PNG</a>
    <a id=helix_svg_link href-lang="image/svg+xml" href="" download="helixbox_{{ p.entry_name }}"> Download as SVG</a>
    {{ SnakePlot }}
    <br>
    <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.png', {scale: 3});"> Download as PNG</a>
    <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_{{ p.entry_name }}"> Download as SVG</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>MUTATIONS</h4>
    </div>
    <div class="col-md-10">
    <a href="/mutations/family/{{ pf.slug }}">{{ mutations|length }} mutant data points available.</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>STRUCTURES</h4>
    </div>
    <div class="col-md-10">
        {% for structure in structures %}
        <p><a href="/structure/{{ structure.pdb_code.index }}">{{ structure.pdb_code.index }}</a></p>
        {% empty %}
        No structures available
        {% endfor %}
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>LINKS</h4>
    </div>
    <div class="col-md-10">
    </div>
</div> -->
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/sequenceviewer.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
{% endblock %}