<br>
{% if onlymutants %}

{% else %}
<button style="width:120px;" onclick="table_applyPresentColors()">Properties</button> 
<button style="width:120px;" onclick="table_resetColors()">Clear</button>
<br><button style="width:120px;" onclick="table_ajaxMutants()">Show Mutants</button>
<button style="width:220px;" onclick="table_ajaxInteractions()">Show Interactions from Crystals</button>
<br><small>Mutant Data: Increased binding/potency: <font style="color: #000; background-color: #87E88F" color="#87E88F">>5-fold</font>, <font style="color: #000; background-color: #66B36C" color="#66B36C">>10-fold</font>; Reduced binding/potency: <font style="color: #FFF; background-color: #FF7373" color="#FF7373">>5-fold</font>, <font style="color: #FDFF7B; background-color: #FA1111" color="#FA1111">>10-fold</font>; <font style="color: #000; background-color: #F7DA00" color="#F7DA00">No/low effect (<5-fold)</font>; and <font style="color: #000; background-color: #D9D7CE" color="#D9D7CE">N/A</font> </small>
{% endif %}
<table class="table-header-rotated">
    <!-- Header -->
    <thead><tr>
    {% for elem, tooltip, protein in header %}
        <th class="rotate{% if forloop.counter <= number_of_schemes %} scheme{% else %} protein{% endif %}">
        <div><span id='{{protein}}'>{{ elem|safe }}</span></div>
        </th>
    {% endfor %}
    </tr></thead>
    {% for segment in segments %}
        <tr><th colspan="{{ header|length }}" class="row-header">{{ segment }}</td></tr>
            {% for key, data_row in data.items %}
                {% if key == segment %}
                    {% for row in data_row %}
                        <tr>
                        {% for gn in row %}
                            <td id="P{{forloop.counter}}R{{gn|slice:"1:"}}" class="{% if forloop.counter <= number_of_schemes %}info text-center{% else %}text-center residue{% endif %}">{{ gn }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
    {% endfor %}
</table>

