{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row text-success">
    <div class="text-center">
        <h2>{{ p.name|safe }} ({{ p.entry_name }})</h2>
    </div>
</div>

{% include "protein/protein_info.html" %}

{% include "protein/sequence_viewer.html" %}

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>LINKS</h4>
    </div>
    <div class="col-md-10">
        {% for link in p.web_links.all %}
        <p><a href="{{ link }}">{{ link.web_resource.name }}</a></p>
        {% empty %}
        No links available
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>DIAGRAMS</h4>
    </div>
    <div class="col-md-10">
    {{ p.get_helical_box }}
    <p><div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox_{{ p.entry_name }}.png',
            {scale: 3});">PNG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsJpg(document.getElementById('helixbox'), 'helixbox_{{ p.entry_name }}.jpg',
            {scale: 3});">JPG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsTiff(document.getElementById('helixbox'), 'helixbox_{{ p.entry_name }}.tiff',
            {scale: 3});">TIFF</a>
            </a>
        </li>
        </ul>
    </div></p>
    {{ p.get_snake_plot }}
    <p><div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.png',
            {scale: 3});">PNG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsJpg(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.jpg',
            {scale: 3});">JPG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsTiff(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.tiff',
            {scale: 3});">TIFF</a>
            </a>
        </li>
        </ul>
    </div></p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>MUTATIONS</h4>
    </div>
    <div class="col-md-10">
    <a href="/mutations/protein/{{ p }}">{{ mutations|length }} mutant data points available.</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>STRUCTURES</h4>
    </div>
    <div class="col-md-10">
        {% for structure in structures %}
        <p><a href="/structure/{{ structure.pdb_code.index }}">{{ structure.pdb_code.index }}</a></p>
        {% empty %}
        No structures available
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/sequenceviewer.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
{% endblock %}