{% extends "home/base.html" %}

{% block content %}

 <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script> 

<h1> "Simple" results </h1>
{{ simple }}
<br>
<h1> "Pretty" results </h1>
    {% for r in outputs %}
        <h2>{{ r.0 }} with {{ r.1 }} Score:{{ r.3 }} <br>Inchikey: <a href="http://www.chemspider.com/inchi-resolver/Resolver.aspx?q={{ r.4 }}">{{ r.4 }}</a><br> Smiles: {{ r.5 }}</h2>
        <table width=95%><tr><td>
        <div style="height: 300px; width: 300px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='pdb?session=1&pdb={{ r.0 }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres2='fontSize:12;opacity:.2;color:black' data-select1='{"hetflag":false}'  data-style1='{"cartoon":{"color":"spectrum"}}' data-select2='resn:{{ r.1 }}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
         <a href="pdb?session=1&pdb={{ r.0 }}">Download PDB file</a>
        </td><td>
         <div style="height: 300px; width: 300px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='download?session=1&ligand={{ r.1 }}&pdb={{ r.0 }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres1='fontSize:10;opacity:1;color:white;backgroundOpacity:0.8' data-select1='{"hetflag":false}' data-style1='stick' data-select2='{"hetflag":true}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
         <a href="download?session=1&ligand={{ r.1 }}&pdb={{ r.0 }}">Download interactions PDB file</a>
         </td>
         <td>
             <!-- <img src="http://www.rcsb.org/pdb/images/{{ r.1 }}:{{ r.0 }}_psv_v_500.png" width=300px> -->

         </td></tr>
         <tr><td colspan="3">
        {% autoescape off %}
        <table width=100%>
        <tr><th width=33%>HBonds</th><th>Aromatic</th><th>Hydrophobic</th></tr>
        <tr>
            <td>
            Bonds where a hydrogen has been suggested to be within atom pair at 2.5Å and at a good angle <60:<br>
            {% for entry in r.2.0.hbond_confirmed%}
                {{entry.0}}
                {% for pair in entry.1 %}
                    ({{pair.0}}: {{pair.1}}<->{{pair.2}}) 
                {% endfor %}

                 <br>

            {% endfor %}
            <hr>
            Bonds where the atom in ligand is charged or the residue is a charged type:<br>
            {% for entry in r.2.0.hbondplus%}
                {{entry.0}}
                {% for pair in entry.3 %}
                    ({{pair.0}}<->{{pair.1}}) 
                {% endfor %}

                 <br>

            {% endfor %}
            <hr>
            Atompairs which are within 3.3Å and likely candidates for hbonds:<br>
            {% for entry in r.2.0.hbond%}
                {{entry.0}} 
                {% for pair in entry.3 %}
                    ({{pair.0}}<->{{pair.1}}) 
                {% endfor %}

                 <br>

            {% endfor %}
            </td>

            <td>
            {% for entry in r.2.0.aromaticplus %}
                {{entry.0}} (To ring# {{entry.1}} distance {{entry.2}} angles: {{entry.3.0}} / {{entry.3.1}}) <br>

            {% endfor %}
            <hr>
            {% for entry in r.2.0.aromatic%}
                {{entry.0}} (To ring# {{entry.1}} distance {{entry.2}} angles: {{entry.3.0}} / {{entry.3.1}}) <br>

            {% endfor %}
            <hr>
            {% for entry in r.2.0.aromaticfe%}
                face_edge: {{entry.0}} (To ring# {{entry.1}} distance {{entry.2}} angles: {{entry.3.0}} / {{entry.3.1}}) <br>

            {% endfor %}
            </td>


            <td>
            {% for entry in r.2.0.hydrophobic%}
                {{entry.0}} <br>

            {% endfor %}
            </td>

        </tr>
        </table>
    {% comment %}
        {% for type in r.2%}
        {{type}} : 

        {% endfor %}

    {% endcomment %}
        {% endautoescape %}
             

         </td></tr></table>
    {% endfor %}


{% endblock %}