{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
PDB:
<form action="calculate" method="post">
{% csrf_token %}
    <label for="pdbname">PDBname</label>
    <input id="pdbname" type="text" name="pdbname" value="">
    <input type="submit" value="OK">
</form>

 <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script> 

 <a href='list'>Back to list</a>
<div class="row text-success">
<div class="text-center">
        <h2>{{ crystal.protein_conformation.protein.family.name|safe }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Protein Class</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.protein_conformation.protein.get_protein_class }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>PDB code</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.pdb_code.index }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Species</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.protein_conformation.protein.species.latin_name }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Resolution</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.resolution}}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Preferred chain</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.preferred_chain }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>PMID</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.publication.web_link.index }}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Publication date</h4>
    </div>
    <div class="col-md-10">
    {{ crystal.publication_date }}
    </div>
</div>



<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Receptor PDB</h4>
    </div>
    <div class="col-md-10">
    <div style="height: 400px; width: 500px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='pdb?pdb={{pdbname}}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres2='fontSize:12;opacity:.2;color:black' data-select1='{"hetflag":false}'  data-style1='{"cartoon":{"color":"spectrum"}}' data-select2='{"hetflag":true}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
         <a href="pdb?pdb={{pdbname}}">Download PDB file</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>LIGANDS</h4>
    </div>
    <div class="col-md-10">
    {% for structure in structures %}
     <div style="height: 380px; width: 400px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='download?pdb={{pdbname}}&ligand={{structure.structure_ligand_pair__ligand__name}}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres1='fontSize:10;opacity:1;color:white;backgroundOpacity:0.8' data-select1='{"hetflag":false}' data-style1='stick' data-select2='{"hetflag":true}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
         <a href="download?pdb={{pdbname}}&ligand={{structure.structure_ligand_pair__ligand__name}}">Download PDB file</a>
   <a href="ligand?pdb={{pdbname}}&ligand={{structure.structure_ligand_pair__ligand__name}}">{{structure.structure_ligand_pair__ligand__name}}</a> Has {{structure.numRes}} residues interacting<br>

   <button style="width:220px;" onclick="ajaxInteractionsLigand('{{ protein.entry_name }}','{{structure.structure_ligand_pair__ligand__name}}')">Color diagrams with interactions</button>

{% empty %}
    No structures yet.
{% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>DIAGRAMS</h4>
    </div>
    <div class="col-md-10">
    {{ protein.get_helical_box }}
    <br>
    <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox_{{ protein.entry_name }}.png', {scale: 3});"> Download as PNG</a>
    <a id=helix_svg_link href-lang="image/svg+xml" href="" download="helixbox_{{ protein.entry_name }}"> Download as SVG</a>
    {{ protein.get_snake_plot }}
    <br>
    <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ protein.entry_name }}.png', {scale: 3});"> Download as PNG</a>
    <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_{{ protein.entry_name }}"> Download as SVG</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right text-info">
        <h4>Interacting residues</h4>
    </div>
    <div class="col-md-10">

        {% if residues %}              
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="residues">

                <thead>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                </tfoot>
                {% for residue in residues.select_related.all %}
                <tr>
                <td>{{residue.structure_ligand_pair.ligand.name}}</td>
                <td>{{residue.rotamer.residue.amino_acid}}{{residue.rotamer.residue.sequence_number}}</td>
                <td>{{residue.rotamer.residue.display_generic_number.label}}</td>
                <td>{{residue.rotamer.residue.protein_segment.name}}</td>
                <td>{{residue.interaction_type.name}}</td>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}

    </div>
</div>


{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
   <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#residues').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    
                },
                initComplete: function () {
                    $('#residues').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //ligand
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                        ]
                    });
                }
            });

            $('[data-toggle="tooltip"]').tooltip(); 
            //$('[data-toggle="tooltip"]').tooltip({html:true});

            });
    </script> 
{% endblock %}